table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}
th {
  background-color: #04aa6d;
  color: white;
  text-align: center;
}
td {
  text-align: left;
}
tbody tr:nth-child(odd) {
  background: #eee;
}
