table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 25px;
}
.select {
  width: 200px;
  height: 20px;
  border: 1px solid black;
}
.vitamins {
  margin: 15px;
  height: fit-content;
}
